/* Reset básico para limpar as margens do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 20px 20px; 
    padding-left: 8%;
    padding-right: 8%;
}

nav {
    display: none; /* Esconde no mobile */
}

@media (min-width: 768px) {
    nav {
        display: flex;
    }

    nav a {
        color: rgb(121, 4, 4);
        text-decoration: none;
        margin-left: 30px;
        font-weight: 500;
        font-family: 'Inter', system-ui, -apple-system, sans-serif;
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
        color: rgb(121, 4, 4);

        text-decoration: none;
        transition: all 0.3s ease; /* suaviza a mudança */
        display: inline-block;   
    }

    nav a:hover {
        color: rgb(241, 19, 56); /* cor de destaque ao passar o mouse */
        transform: scale(1.1); /* aumenta um pouco o tamanho do link */
    }
}

h1 {
    font-size: 24px;
    font-weight: 900;
    color: rgb(121, 4, 4);
}

body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

main {
    max-width: 1200px;   /* largura máxima do container */
    margin: 0 auto;      /* centraliza o container */
    padding: 0 20px;
}


.banner {
    width: 100%;         /* ocupa toda a largura do container */
    margin: 0;           /* não centraliza sozinho */
    padding: 30px;
    border-radius: 20px;

    flex-direction: column;
    align-items: center;
    text-align: center;
    
    background-color: rgb(121, 4, 4);
    box-shadow: 0 8px 25px #46464662;
}

.banner h2 {
    color: white;
    font-size: clamp(24px, 5vw, 40px); 
    margin-bottom: 15px; 
    font-weight: 700;
    line-height: 1.1;
}

.banner p {
    color: white;
    font-size: clamp(16px, 3vw, 20px); 
    max-width: 800px; 
    margin: 0 auto; 
}

section {
    width: 100%;       /* ocupa toda a largura do container */
    max-width: 500px;    /* menor que o banner */
    margin-top: 30px;    /* espaço abaixo do banner */
    margin-left: 0;      /* alinha à esquerda do container */
}

#verificar {
    
    border-width: 2px;
    width: 100%;
    
    padding: 22px;          
    border: 2px solid rgb(121, 4, 4);
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    box-shadow: 0 8px 25px #46464662;
    padding-bottom: 30px;
}

.botoes{
    display: flex;
    width: 100%;
    
}

.botoes,
#verificar {
    width: 100%;
}

.botoes button {
    padding: 15px;

    border: 2px solid #c01a30;
    background-color: #c01a30;
    color: white;
    flex: 1;
    border-bottom: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
   
    box-shadow:  0 -4px 10px #46464662;
    
}

.botoes:hover button:not(:hover) {
    background-color: rgb(121, 4, 4);
    border-color: rgb(121, 4, 4);
    color: white;
}

.botoes button.ativo {
    background-color: rgb(121, 4, 4);
    color: white;  
    border-color: rgb(121, 4, 4);
}

.botoes button:hover {
    background-color: #D21438;
    color: white;
    border-color: #D21438;
}

.botoes button:first-child {
    border-top-left-radius: 20px;
}

.botoes button:last-child {
    border-top-right-radius: 20px;
}


#verificar input {
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#verificar input:hover {
    border-color: #c01a30;
    box-shadow: 0 0 5px rgba(182, 21, 42, 0.404);
}

input:focus {
    border-color: #c01a30;
    box-shadow: 0 0 3px rgba(192, 26, 48, 0.2);
    outline: none;
}

.btn-verificar{
    padding: 15px;

    border: 2px solid #c01a30;
    background-color: #c01a30;
    color: white;
    flex: 1;
    border-bottom: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
   
    box-shadow:  0 4px 10px #46464662;
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: 10px;
}


.btn-verificar:hover{
    border-color: #c01a30;
    box-shadow: 0 0 5px rgba(182, 21, 42, 0.404);
    transform: scale(1.01); /* aumenta um pouco o tamanho do link */
    
}

#conteudo-pdf {
    text-align: left;

    display: flex;
    flex-direction: column;
    align-items: center;

}

#nomeArquivo {
    font-size: 14px;
    color: #555;
}

.area-remover{
    position: absolute;
    right: 10px;
    height: 30px; /* espaço fixo */
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnRemover{
    background: none;
    border: none;
    padding: 0;
    visibility: hidden;
}

#btnRemover img{
    cursor: pointer;
    width: 28px;
    transition: 0.2s;
}

#btnRemover:hover {
    transform: scale(1.1);
}

#nomeArquivo{
    padding-top: 5px;
    font-size: 18px;
}

.conteudo {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    width: 100%;
}

@media (max-width: 768px) {

    .conteudo {
        flex-direction: column;
    }

    section,
    aside {
        max-width: 700px;
    }
}

section {
    width: 100%;
    margin-top: 30px;
}

aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;     
    margin-top: 30px;       
    border: 2px solid rgb(121, 4, 4);
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 8px 25px #46464662;
    padding-bottom: 30px;
    overflow: hidden;
    padding: 20px;
}

aside h3{
    color: rgb(121, 4, 4);
    font-size: 28px;
    text-align: center;
}

aside p{
    text-align: center;
    font-size: 18px;
}

aside .dica{
    color:rgb(121, 4, 4);
    background-color:#c01a3057;
    border-radius: 5px;
    text-align: left;
    padding-left: 10px;

}

aside > img{
    margin-top: 25px;
    margin-bottom: 27px;
}

.dica p {
    text-align: left;
    font-size: 15px;
}

.dica h4{
    margin: 0;
}

.dica img{
    width: 40px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.dica{
    display: flex;
    align-items: center;
    gap: 15px; 
}

#sobre {
    width: 100%;         /* ocupa toda a largura do container */
    max-width: none;
    margin: 0;           /* não centraliza sozinho */
    padding: 30px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-top: 30px;
    background-color: rgb(255, 255, 255);
}

#sobre h2 {
    color: rgb(0, 0, 0);
    font-size: clamp(24px, 5vw, 40px); 
    margin-bottom: 15px; 
    font-weight: 700;
    line-height: 1.1;
}

#sobre p{
    font-size: 16px;
}

.card{
    max-width: 400px;
    border: 1px solid #ffbebeec;
    border-radius: 20px;

    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    box-shadow: rgb(255, 191, 191) 0px 8px 25px;
}

.card h4{
    color: rgb(121, 4, 4);
    font-size: 20px;
    text-align: left;
}

.card p{
    text-align: left;
    font-size: 14px;
}

.container-cards{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.container-cards img{
    width: 50px;
}

.imagem-boleto{
    position: relative;
    width: 100%;
}

.imagem-boleto img{
    width: 100%;
    border-radius: 10px;
}

footer{
    background-color: rgba(182, 21, 42, 0.404);

    margin-top: 80px;

    padding: 35px 20px 20px;
}

.footer-top{
    max-width: 1100px;

    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    gap: 40px;
}

.footer-esquerda{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.logo-footer{
    text-decoration: none;
    width: fit-content;
}

.logo-footer h1{
    color: rgb(121, 4, 4);
    font-size: 26px;
    font-weight: 900;
}

.link-faq,
.link-git{
    color: rgb(121, 4, 4);

    text-decoration: none;

    font-size: 15px;
    font-weight: 500;

    transition: 0.2s;
}

.link-faq:hover,
.link-git:hover{
    color: rgb(241, 19, 56);

    transform: translateX(2px);
}

.footer-direita{
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.footer-direita img{
    width: 42px;
    flex-shrink: 0;
}

.links-github{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.direitos{
    text-align: center;

    margin-top: 30px;

    color: rgb(121, 4, 4);

    font-size: 14px;
    font-weight: 500;
}


/* MOBILE */

@media (max-width: 768px){

    footer{
        padding: 30px 18px 20px;
    }

    .footer-top{
        flex-direction: column;

        align-items: center;

        text-align: center;

        gap: 35px;
    }

    .footer-esquerda{
        align-items: center;
    }

    .footer-direita{
        flex-direction: column;

        align-items: center;
    }

    .links-github{
        align-items: center;
    }

    .logo-footer h1{
        font-size: 24px;
    }

    .footer-direita img{
        width: 38px;
    }

    .direitos{
        margin-top: 35px;

        font-size: 13px;

        line-height: 1.5;
    }
}
#btnSelecionar{
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    background-color: #c01a30;
    color: white;
    cursor: pointer;
    font-weight: 600;
    
    padding-top: 10px;
}

#btnSelecionar:hover{
    background-color: rgb(121, 4, 4);
}

#dados-extraidos{
    width: 100%;
}

.resultado-item {
    width: 100%;
    padding: 6px 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 42px;
}

.resultado-item span{
    margin-left: 8px;
}

.resultado-item:hover {
    border-color: #c01a30;
    box-shadow: 0 0 5px rgba(182, 21, 42, 0.404);
}

.verdadeiro{
    background-color: #a0f3a0;
    box-shadow: 0 0 5px rgba(21, 182, 29, 0.473);
}

.suspeito{
    background-color: #f1e36a;
    box-shadow: 0 0 5px rgba(241, 227, 106, 0.473);
}

.falso{
    background-color: #f3a0a0;
    box-shadow: 0 0 5px rgba(182, 21, 42, 0.404);
}

.resultadoItem {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;

    border: 1px solid #ccc;
    border-radius: 10px;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    gap: 10px;
}

.verdadeiro h3{
    color: rgb(12, 94, 16);
    margin: 0;
}

.recomendacaoVerdadeiro{
    font-size: 16px;
    margin: 0;
    font-weight: 600;
    margin-bottom: 20px;
}

.suspeito h3{
    color: rgb(95, 83, 27);
    margin: 0;
}

.resultado img{
    width: 40px;
}

.falso h3{
    color: rgb(121, 4, 4);
    margin: 0;
}

.verdadeiro,
.suspeito,
.falso{
    border-radius: 10px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    margin-bottom: 15px;
}

.resultadoItem p{
    margin: 0;
    font-size: 14px;
    text-align: left;
}

.resultadoItem:hover {
    border-color: #c01a30;
    box-shadow: 0 0 5px rgba(182, 21, 42, 0.404);
}

.recomendacao {
    margin: 0;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.item-ok{
    background: #d4ffd4;
}

.item-alerta{
    background: #fff3cd;
}

.item-erro{
    background: #ffd6d6;
}

.box-upload {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    justify-content: center;
    height: 123px;
    transition: 0.3s;

    border-radius: 10px;
    border: 2px solid #c01a43b2;
    padding-top: 5px;
    box-shadow: 0 0 5px rgba(182, 21, 42, 0.404);
    margin-bottom: 5px;
}

.info-arquivo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    margin-top: 0;

}

.info-arquivo p{
    margin: 0;
    font-size: 14px;
    color: #555;
    text-align: center;
}

.box-upload p {
    margin: 0;
    font-size: 14px;
    color: #555;
}
.box-upload:hover {
    cursor: pointer;
    transform: scale(1.01);
}

#icone-upload {
    width: 20px;
    display: inline-block;
}

.mensagem-erro{
    color: #ff4d4d;
    font-size: 13px;
    font-weight: 500;
    height: 18px;
    margin-top: 4px;
    margin-bottom: 10px;
}

.loading-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.spinner-btn{
    width: 18px;
    height: 18px;
    border: 3px solid rgba(255,255,255,0.4);
    border-top: 3px solid white;
    border-radius: 50%;
    animation: girar 0.8s linear infinite;
}

.btn-verificar:disabled{
    background-color: #8f1b2e;
    cursor: not-allowed;
    opacity: 0.8;
}

@keyframes girar {

    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}


.resultadoLista{
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background: white;
    padding-bottom: 3px;
}

.linhaResultado{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    gap: 15px;
}

.linhaResultado:last-child{
    border-bottom: none;
}

.linhaResultado strong{
    color: #222;
    font-size: 15px;
}

.linhaResultado span{
    color: #666;
    font-size: 14px;
    text-align: right;
}

.link-git{   
    color: rgb(121, 4, 4); 
    text-decoration: none;
}

.link-git:hover {
    color: rgb(241, 19, 56); 
    transform: scale(1.05); 
}

.btn-limpar{
    padding: 15px;

    border: 2px solid #c01a304b;
    background-color: #ffffff;
    color: rgb(121, 4, 4);
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
   
    box-shadow:  0 4px 10px #46464662; 
    display: flex;
    
    justify-content: center;
    border-radius: 10px;
}


.btn-limpar:hover{
    border-color: #c01a30;
    box-shadow: 0 0 5px rgba(182, 21, 42, 0.404);
    transform: scale(1.01); /* aumenta um pouco o tamanho do link */
    
}

.card:hover {
    transform: scale(1.01); /* aumenta um pouco o tamanho do link */
}

.faq-question {
    padding: 12px;
    cursor: pointer;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.faq-question:hover {
    text-shadow: #8f1b2e;
}

.faq-answer {
    display: none;
    padding: 12px;  
}

.titulo-faq{
    text-align: center;
    color: rgb(121, 4, 4);
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 20px;
}

